* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
}

button {
  border-radius: 50px;
  width: 4rem;
  height: 4rem;
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  font-family: Tahoma;
  background-color: #436850;
  padding: 20px;
  border-radius: 30px;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

#buttons button:first-child {
  visibility: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  font-size: 40px;
  background-color: transparent;
  color: white;
}

#display:focus {
  outline: none;
}

.operator {
  color: orange;
}

.operator:active {
  border-radius: 50%;
  background-color: rgb(122, 119, 119);
}

hr {
  width: 85%;
  margin-bottom: 10px;
}
